# ===================================================================
# Secrets File
# ===================================================================
secrets.ini
secrets.h


# ===================================================================
# PlatformIO & VS Code
# ===================================================================
.pio/
.vscode/


# ===================================================================
# 3D Modeling Files
# ===================================================================
# *.stl
# *.3mf
# *.gcode


# ===================================================================
# General Build Artifacts & Operating System Files
# ===================================================================
build/
*.o
*.a
*.so
*.lib

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
desktop.ini
